

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
.bg-top{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-common{
    background-color: #FF900E;
    color: aliceblue;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
}

.main{
    max-width: 1440px;
    margin: 0 auto;
}


/* header styles  */




/* navbar styles */
.nav-item{
    display: flex;
    margin-right: 20px;
}
.nav-link {
    text-decoration: none;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;

}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}


/* banner related styles */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-pic{
    width: 100%;
}

/* team related styles */
.team{
    align-items: center;
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 200px;
    padding: 15px;
}
.team-pic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-info{
    margin-left: 60px;
    padding-right: 150px;
}
.features{
    font-size: 1.75rem;
    font-weight: 700;
    color: #FF900E;
}
.of-our{
    font-size: 1.75rem;
    font-weight: 700;
    color: #131313 :
}
#q-list{
    font-size: 1.75rem;
    font-weight: 500;
    color: #727272;
}
.team-details{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}

/* facts related styles */
.achievements{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;    
    margin-left: 50px;
    margin-right: 400px;
    gap: 50px;
    }
.some-facts{
    margin-left: 150px;
    }
.category{
    border: 4px solid #FF900E;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 300px;
    
}
.cat-number{
    font-size: 3.5rem;
    font-weight: 600;
    color: #424242;
}
.cat-icon{
    width: 45px;
    height: 45px;
}
.cat-name{
    font-size: 1.45rem;
    font-weight: 600;
    color: #727272;
}


/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .team {
        flex-direction: column;
    }
    .team-pic{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-info{
        margin-left: 15px;
    }   
}
/* medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
    .team{
        flex-direction: column;
    }
    .team-info{
        margin-left: 50px;
    }
    
}